<h2>Odeljenja</h2>
<div>
  <label>Dodaj odeljenje:
    <input #odeljenjeOznaka />
  </label>
  <button (click)="add(odeljenjeOznaka.value); odeljenjeOznaka.value=''">Dodaj</button>
</div>
<div>
<ul class="odeljenja">
    <li class="paginacija"><input type="text" name="ime" [(ngModel)] = "filter.oznaka" placeholder="Oznaka odeljenja"></li>
  <li *ngFor="let odeljenje of odeljenja | odeljenjefilter: filter | slice:(page-1)*limit:page*limit">
        <span class="badge">{{odeljenje.id}}</span> {{odeljenje.oznaka}}
  <button class="delete" title="obriši odeljenje"
    (click)="delete(odeljenje)">x</button>
  </li>
  <li class="paginacija">
    <label for="limit">Limit: </label>
    <input type="number" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfOdeljenja]" step="1" placeholder="Limit">
  </li>
  <li class="paginacija">
    <label for="page">Strana: </label>
    <input type="number" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfOdeljenja]" step="1" placeholder="Page">
  </li>
  </ul>
</div>
<div>
  <button (click)="goBack()" class="btn">Nazad</button>
</div>
