<div *ngIf="ucenik">
  <h2>Ucenik: {{ ucenik.ime | uppercase }} {{ ucenik.prezime | uppercase }} </h2>
  <div><span>ID: </span>{{ucenik.id}}</div>
  <div>
    <label>Tip korisnika:
      <input [(ngModel)] = "ucenik.tipKorisnika" >
    </label>
  </div>
  <div>
    <label>Ime:
      <input [(ngModel)] = "ucenik.ime" >
    </label>
  </div>
  <div>
    <label>Prezime:
      <input [(ngModel)] = "ucenik.prezime" >
    </label>
  </div>
  <div>
    <label>Email:
      <input [(ngModel)] = "ucenik.email" type="email">
    </label>
  </div>
  <div>
    <label>JMBG:
      <input [(ngModel)] = "ucenik.jmbg" >
    </label>
  </div>
  <div>
    <label>Adresa:
      <input [(ngModel)] = "ucenik.adresa" >
    </label>
  </div>
  <div>
    <label>Datum rodjenja:
      <input [(ngModel)] = "ucenik.datumRodjenja">
    </label>
  </div><br/>
  <div>
    <button (click)="goBack()" class="btn">Nazad</button>
  </div><br/>
  <div>
    <button (click)="save()" class="btn">Sačuvaj</button>
  </div><br/>
</div>
<div>
<button class="btn" (click)="delete(ucenik)">Obriši ucenika</button>
</div>
