<div>
   <ul class="skola">
    <li><a routerLink='/adminsearch'>Administrator</a></li>
    <li><a routerLink='/adminucenik'>Učenik</a></li>
    <li><a routerLink='/adminnastavnik'>Nastavnik</a></li>
    <li><a routerLink='/adminroditelj'>Roditelj</a></li>
    <li><a routerLink='/adminpredmet'>Predmet</a></li>
    <li><a routerLink='/razred'>Razred</a></li>
    <li><a routerLink='/odeljenje'>Odeljenje</a></li>
    <li><a routerLink='/ucenikroditelj'>Učenik-Roditelj</a></li>
    <li><a routerLink='/ucenikodeljenje'>Učenik-Odeljenje</a></li>
    <li><a routerLink='/predaje'>Nastava</a></li>
    <li><a routerLink='/spisak'>Spisak</a></li>
   </ul>
 </div>
